#hero {
    padding: 200px;
    background: rgb(132, 132, 132);
    height: 100vh;
    width: 100%;
}

@media screen and (max-width:1200px) {
    
}

@media screen and (max-width:768px) {
    
}

@media screen and (max-width:576px) {
    
}

@media screen and (max-width:350px) {
    
}
